section.register {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    column-gap: 150px;
}
.register-form {
    max-width: 600px;
    width: 100%;
} 
.register-form button,
.register-form p {
    display: block;
    margin: 0 auto;
    width: max-content;
}
.register-form button {
    width: 90%;
    font-weight: 700;
    padding: 10px;
    color: #fff;
    border: none;
    background-color: #7f7f7f;
}
.register-img {
    background-image: url(../images/register.png);
    background-size: cover;
    border-radius: 23px;
    width: 703px;
    height: 844px;
}