/* Nav */
.nav {
    position: fixed;
    left: 40px;
    top: 50px;
    width: 220px;
    height: auto;
}
.nav__logo {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
    column-gap: 10px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0px 1px 1.3px 0px #00000012;
    cursor: pointer;
    color: #000;
}
.nav__logo-text {
    margin: 0;
    font-size: 19.66px;
    font-weight: 700;
    line-height: 31.94px;
}
.nav__menu {
    background-color: #fff;
    width: 100%;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 1px 1.3px 0px #00000012;
}
.nav__menu-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #808080;
    margin-bottom: 8px;
}
.nav__menu-list,
.nav__menu-account-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 24px;
}
.nav__menu-account {
    margin: 32px 0 20px;
}
.nav__menu-item,
.nav__menu-item--active {
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}
.nav__menu-item:hover,
.nav__menu-item--active {
    transition: background-color 0.2s linear;
    background-color: #262626;   
}
.nav__menu-item:hover .nav__menu-item-link,
.nav__menu-item--active .nav__menu-item-link {
    font-weight: 700;
    color: #fff;
}
.nav__menu-item:hover .nav__menu-item-icon path,
.nav__menu-item--active .nav__menu-item-icon path {
    fill: #fff;
}
.nav__menu-item:hover .nav__menu-item-stroke path,
.nav__menu-item--active .nav__menu-item-stroke path {
    stroke: #fff;
}
.nav__menu-item-link {
    padding-left: 16px;
    font-size: 16px;
    height: 100%;
    width: 100%;
    font-weight: 400;
    line-height: 23px;
    color: #808080;
    display: flex;
    align-items: center;
    column-gap: 8px;
}


/* Filter */
.filter {
    margin: 50px 8px 0 32px;
    max-width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 1px 1.3px 0px #00000012;
    border-radius: 8px;
    padding: 12px 18px;
    column-gap: 16px;
    display: flex;
    margin-bottom: 18px;
}
.filter__search {
    width: 100%;
    height: auto;
    position: relative;
}
.filter__search-input {
    height: 56px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    padding: 0 16px 0 48px;
    outline: none;
}
.filter__search-input:focus {
    border: 1px solid #262626;
}
.filter__search-input,
.filter__search-input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.filter__search-input::placeholder {
    color: #808080;
}
.filter__search-input {
    color: #262626;
}
.filter__search-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top: 16px;
    left: 16px;
}
.filter__priority,
.filter__reset {
    background-color: #262626;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
}
.filter__priority {
    max-width: 200px;
    width: 100%;
}
.filter__reset {
    width: max-content;
    padding: 0 16px;
}
.notifications,
.notifications--active {
    min-width: 56px;
    height: 56px;
    position: relative;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
}
.notifications-top {
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
}
.notifications-bottom {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%)
}
.notifications--active::after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    left: 30px;
    top: 16px;
}


/* Tasks && Projects && Reports */
.tasks,
.projects,
.reports {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
    margin: 0 8px 32px 32px;
}
.tasks__cards,
.projects__cards,
.reports__cards {
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.tasks__card,
.projects__card,
.reports__card {
    padding: 12px;
    border-radius: 8px;
    color: #262626;
    box-shadow: 0px 1px 1.3px 0px #00000012;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 8px rgba(68, 68, 68, 0.3);
    background-color: #fff;
    cursor: pointer;
}
.tasks__card {
    position: relative;
}
.tasks__card-priority {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.tasks__card-priority.low {
    background-color: #7FAF45;
}
.tasks__card-priority.medium {
    background-color: #FFCC00;;
}
.tasks__card-priority.high {
    background-color: #FA4D35;
}
.tasks__card-background {
    position: absolute;
    right: 0;
    top: 0;
}
.tasks__card.low {
    background-color: #F3F8ED;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tasks__card.medium {
    background-color: #FFF5B0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.tasks__card.high {
    background-color: #FFDCCD;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.tasks__card-background.high path {
    stroke: #FFE2D6;
}
.tasks__card-background.low path {
    stroke: #E8F4D8;
}
.tasks__card-background.medium path {
    stroke: #FFE2A0;
}
.tasks__card-project,
.projects__card-title  {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 8px;
}
.tasks__card-title,
.projects__card-manager {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 8px;
}
.tasks__card-time,
.projects__card-time {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}
.tasks__card-status,
.projects__card-status {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* Account */
.account {
    margin: 0 0 32px 32px;
    padding: 16px 0;
}
h2.title-account {
    font-size: 32px;
    font-weight: 700;
    line-height: 35.2px;
    color: #262626;
    margin-bottom: 32px;
    padding-left: 8px;
}
.account__items {
    display: grid;
    column-gap: 32px;
    grid-template-columns: 286px 1fr;
}
.account__item-bg {
    grid-column: 1 / -1;
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.account__card {
    transform: translateY(-45px);
    width: 286px;
    height: max-content;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 0;
    display: flex;
    align-items: center;    
    flex-direction: column;
}
.account__card-icon {
    position: relative;
    height: max-content;
    margin-bottom: 16px;
}
.account__card-icon-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.account__card-icon-edit {
    position: absolute;
    bottom: 4px;
    right: 1.5px;
    height: 28px;
    width: 28px;
    background-color: #212121;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.account__card-user-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: #262626;
}
.account__card-user-email {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #808080;
}
.account__settings {
    width: 100%;
    transform: translateY(-45px);
    height: max-content;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 18px 60px 16px;
}
.account__form {
    padding-left: 10px;
    margin-top: 38px;
    display: grid;
    column-gap: 24px;
    row-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}
.account__form-item {
    display: flex;
    flex-direction: column;
}
.account-form-item-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    color: #262626;
    margin-bottom: 16px;
}
.account-form-item-input {
    height: 55px;
    width: 100%;
    padding: 0 16px;
    border-radius: 15px;
    border: 1px solid #EEEEEE;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #262626;
}
.account-form-item-input:focus {
    outline: 1px solid #262626;
}